.title-text{
    font-weight: 600;
    font-size: 18px;
}
.navitem{
    color: #fff;
    font-weight: 800;
    
    /* font-size: 16px; */
}
.home-image{
    width: 96%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and  (min-width: 768px) {
    .navbar-custom{
        padding-inline: 10em;

    }
    .home-image{
        width: 90%;
    }
    .navitem{
        font-size: 20px;
    }
}
@media screen and (max-width: 576px) {
    .navbar-custom{
        row-gap: 0px;
        column-gap: 30px;
        flex-wrap: wrap;
    }
}